<!DOCTYPE html>

<html lang="en" dir="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!--https://getbootstrap.com/docs/5.2/getting-started/introduction/-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

        <!-- Local imports -->
        <link href="/static/style.css" rel="stylesheet">

        <!-- leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>

        <!-- Linking Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
        <script defer src="/static/script.js"></script>

        <!-- For extra style and scripts linking -->
        {% block imports %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body dir="auto">
        <nav class="navbar bg-dark fixed-top mb-0">
            <div class="mx-2">
                <button class="mx-3 navbar-toggler bg-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand fw-bold text-white" href="#">Cycling Ride Tracker</a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                    <div class="offcanvas-header bg-dark text-white">
                        <h5 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">Cycling Ride Tracker</h5>
                        <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        {% if session["user_id"] %}
                            <h3>Welcome {{ session["username"]|capitalize }}</h3>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Start Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/history">Ride History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/register">Register</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav><br>

        <!-- For message flashing, see flask docs -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <header>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </header>
            {% endif %}
        {% endwith %}

        <main class="container-fluid py-5 text-center">
            <h1 class="mt-5">{% block heading %}{% endblock %}</h1><br>
            {% block body %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">
            <a href="https://learn.extensionschool.ch/learn/programs/thinking-and-creating-with-code-v1">Thinking and Creating with Code</a> course final project.
        </footer>

    </body>
</html>
