{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block heading %}
    Login
{% endblock %}

{% block body %}
    <form action="/login" method="POST">
        <div class="mb-4">
            <input required class="form-control mx-auto w-auto" type="text" name="username" placeholder="Username...">
        </div>
        <div class="mb-4">
            <input required class="form-control mx-auto w-auto" type="password" name="password" placeholder="Password...">
        </div>
        <div class="mb-4">
            <input class="btn btn-secondary btn-lg" type="submit" value="Login">
        </div>
    </form>
    <p>Not a user? <a href="/register">Register</a></p>
{% endblock %}
