{% extends "ride_tracker/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block imports %}
    {% load static %}
    <script defer src="{% static 'ride_tracker/auth/register/script.js' %}"></script>
{% endblock %}

{% block heading %}
    Register
{% endblock %}

{% block body %}
    <form action="{% url 'ride_tracker:register' %}" method="POST">
    {% csrf_token %}
        <div class="mb-4">
            <input autofocus required id="regUsername" class="form-control mx-auto w-auto" type="text" name="username" placeholder="Username...">
        </div>
        <div class="mb-4">
            <input required id="regPass" class="form-control mx-auto w-auto" type="password" name="password" placeholder="Password...">
        </div>
        <div class="mb-4">
            <input required id="regRePass" class="form-control mx-auto w-auto" type="password" name="repassword" placeholder="Retype Password...">
        </div>
        <div class="mb-4">
            <input id="registerBtn" class="btn btn-secondary btn-lg" type="submit" value="Register">
        </div>
    </form>
    <p>Already a user? <a href="/login">Login</a></p>
{% endblock %}
